<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">Skip</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
        <ion-slide>
            <img src="assets/img/icon.png" class="slide-image" />
            <h2 class="slide-title">
                Welcome to
                <b>Cinema</b>
            </h2>
            <p>
                The Movie Database (TMDb) is a community built movie and TV database. Every piece of data has been added by our amazing community dating back to 2008. TMDb's strong international focus and breadth of data is largely unmatched and something we're incredibly
                proud of. Put simply, we live and breathe community and that's precisely what makes us different.
            </p>
        </ion-slide>

        <ion-slide>
            <div class="films">
                <img src="{{imgUrl + film.poster_path}}" class="slide-image" *ngFor="let film of films" />
            </div>

            <h2 class="slide-title">Hi there,</h2>
            <p>Here you will find 10,000 popular films.</p>
        </ion-slide>

        <ion-slide>
            <div>
                <img src="{{imgUrl + film.poster_path}}" class="slide-image" *ngFor="let film of films" />
            </div>

            <h2 class="slide-title">What is Ionic Appflow?</h2>
            <p>
                <b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/sheldon.png" class="slide-image last" />
            <h2 class="slide-title">Ready to See?</h2>
            <ion-button fill="clear" (click)="startApp()">
                Continue
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>