<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>{{movieDetails?.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="detail-header">
        <img [src]="imgUrl + movieDetails?.backdrop_path" alt="">
    </div>

    <div class="movie-title">
        <img class="poster" [src]="imgUrl + movieDetails?.poster_path" alt="">
        <div class="taglines">
            <h5>{{movieDetails?.tagline}}</h5>
            <p class='year'>{{movieDetails?.release_date | date: 'yyyy'}}</p>
            <p class="genre">
                <span *ngFor="let genre of movieDetails?.genres">
                  <span>{{genre.name}}/</span>
                </span>
            </p>
            <p class="budget" [hidden]="!movieDetails?.budget">{{movieDetails?.budget}}$ </p>
            <a [href]="movieDetails?.homepage">{{movieDetails?.homepage}}</a>
        </div>

    </div>
    <p class="overview">{{movieDetails?.overview}}</p>
    <div class="production_companies">
        <span *ngFor="let production_companie of logo_path">
          <img src="{{imgUrl + production_companie.logo_path}}" alt="">
        </span>
    </div>




    <!-- <div *ngIf="session" class="ion-padding">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="6">
                    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
                </ion-col>
                <ion-col size="6" [ngClass]="{'show-favorite': isFavorite}" class="ion-text-right">
                    <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
                    <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <h1>{{session.name}}</h1>
        <p>{{session.description}}</p>
        <ion-text color="medium">
            {{session.timeStart}} &ndash; {{session.timeEnd}}
            <br /> {{session.location}}
        </ion-text>
    </div> -->

    <!-- <ion-list>
        <ion-item (click)="sessionClick('watch')" button>
            <ion-label color="primary">Watch</ion-label>
        </ion-item>
        <ion-item (click)="sessionClick('add to calendar')" button>
            <ion-label color="primary">Add to Calendar</ion-label>
        </ion-item>
        <ion-item (click)="sessionClick('mark as unwatched')" button>
            <ion-label color="primary">Mark as Unwatched</ion-label>
        </ion-item>
        <ion-item (click)="sessionClick('download video')" button>
            <ion-label color="primary">Download Video</ion-label>
            <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
        </ion-item>
        <ion-item (click)="sessionClick('leave feedback')" button>
            <ion-label color="primary">Leave Feedback</ion-label>
        </ion-item>
    </ion-list> -->

</ion-content>