<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>      
      <div class="flex ion-align-items-center">
        Actors
        <ion-badge class="margin-left" slot="start" color="medium">{{actorsObject?.page}} /
          {{actorsObject?.total_pages}}</ion-badge>
      </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list class="ion-no-padding">

      <!-- <ion-grid class="ion-no-padding ">
        <ion-row>
          <ion-col size="6" class="ion-no-padding ">
            <ion-item lines="none ">
              <ion-icon name="contacts"></ion-icon>
              <ion-label class="numbers ">{{actorsObject?.total_results}} actors</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="ion-no-padding ">
            <ion-item lines="none ">
              <ion-label class="numbers ion-text-right ">page {{actorsObject?.page}} from {{actorsObject?.total_pages}}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid> -->

      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let actor of firstPart">
            <ion-card class="big-cards" routerLink="/app/tabs/actors/details/{{actor?.id}}">
              <img src="{{imgUrl + actor?.profile_path}} " alt=" " />
            </ion-card>
          </ion-col>
          <ion-col size="4" *ngFor="let actor of secondPart">
            <ion-card class="small-cards " routerLink="/app/tabs/actors/details/{{actor?.id}}">
              <img src="{{imgUrl + actor?.profile_path}} " alt=" " />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
</ion-content>
