.login-logo {
    padding: 20px 0;
    min-height: 250px;
    text-align: center;
}

.login-logo {
    display: flex;
    img {
        max-width: 90%;
        margin: auto;
    }
}

.list {
    margin-bottom: 0;
}