ion-list {
  padding: 10px;
}

.login-container {
  background: url(assets/img/deadpool.png) 0 15% / contain no-repeat,
    url(assets/img/red_pipes.svg) center 40%/110%,
    radial-gradient(at 25% top, #32112c 0%, #0a1526 40%);
  height: 100%;
}

.btn-section {
  background-color: #fff;
}