.details-header {
  display: flex;

  .actor-photo {
    width: 200px;
    min-width: 200px;
    padding: 15px;

    img {
      max-width: 100%;
      border: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 5px grey;
    }
  }
}

p {
  margin-top: 10px;
}

h1 {
 font-size: 28px;
}

h2 {
 font-size: 10px;
}

h3 {
  font-size: 20px;
  div {
    font-size: 14px;
    color: gray;
  }
}

.actor-details {
  padding-right: 15px;
}

.biography {
  font-size: 16px;
  padding: 0 15px;
  div {
    font-size: 14px;
    color: gray;
  }
}





