<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="defaultHref"></ion-back-button>
		</ion-buttons>
		<ion-title>{{actorDetails?.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="details-header">
		<div class="actor-photo">
			<img [src]="imgUrl + actorDetails?.profile_path" alt="" />
		</div>
		<div class="actor-details">
			<circle-progress
				class="popularity"
				[percent]="actorDetails?.popularity"
				[radius]="20"
				[outerStrokeWidth]="5"
				[titleFontSize]="12"
				[showSubtitle]="false"
				[showUnits]="false"
				[showInnerStroke]="false"
				[titleColor]="'#fff'"
				[outerStrokeColor]="'#61d378'"
				[backgroundColor]="'#222'"
				[animation]="true"
        [toFixed]="2"
				[animationDuration]="300"
			>
			</circle-progress>
			<h1>{{actorDetails?.name}}</h1>
			<h3 *ngIf="actorDetails?.birthday">
				<div>Birthday:</div>
				{{actorDetails?.birthday}}
			</h3>
			<h3 *ngIf="actorDetails?.place_of_birth">
				<div>Place of birth:</div>
				{{actorDetails?.place_of_birth}}
			</h3>
		</div>
	</div>
	<div class="biography" *ngIf="actorDetails?.biography">
		<div>Biography:</div>
		<p>{{actorDetails?.biography}}</p>
	</div>
</ion-content>
